trabajo.2trimestre/trabajos/web_xsd/ejercicios-xsd/cinco.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="tarjeta_credito">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titular" type="xs:string"/>

        <xs:element name="numero">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[0-9]{16}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="marca">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Visa"/>
              <xs:enumeration value="Mastercard"/>
              <xs:enumeration value="American Express"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="caducidad">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="(0[1-9]|1[0-2])\/[0-9]{2}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="cvv">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:pattern value="[0-9]{3}"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:element>

        <xs:element name="banco_emisor" type="xs:string"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>