trabajo.2trimestre/trabajos/web_xsd/ejercicios-xsd/tres.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="menu_restaurante">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="categoria" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="item" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="nombre_plato" type="xs:string"/>
                    <xs:element name="descripcion" type="xs:string"/>
                    <xs:element name="precio" type="xs:decimal"/>
                  </xs:sequence>
                  <xs:attribute name="dieta" default="normal">
                    <xs:simpleType>
                      <xs:restriction base="xs:string">
                        <xs:enumeration value="normal"/>
                        <xs:enumeration value="vegano"/>
                        <xs:enumeration value="sin-gluten"/>
                      </xs:restriction>
                    </xs:simpleType>
                  </xs:attribute>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="nombre" type="xs:string" use="required"/>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

</xs:schema>